{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>FoodNet</title>
    <link rel="icon" href="../static/images/main_logo.png" type="image/x-icon">
</head>
<body class="{% block body %}{% endblock body %}">
    {% block content %}

    {% endblock content %}

  <!-- JavaScript for Move to Top Button -->
  <script>
    function scrollToTop() {
      window.scrollTo({
        top: 0,
        behavior: 'smooth'
      });
    }
  </script>
  
    
    <script src="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.js"></script>
    <script src="{% static 'main.js' %}"></script>
</body>
</html>