{% extends 'base.html' %}
{% load static %}
{% block body %}bg-gray-100 font-sans flex{% endblock body %}
{% block content %}
  {% include 'components/aside.html' %}
  <div class="flex-1 p-8">
    <!-- Header with User Photo -->
    <header class="flex items-center justify-between mb-8">
      <h1 class="text-2xl font-bold text-gray-800">Feeds</h1>
      <div class="flex items-center">
        <img src="{% static 'images/prajwal.jpg'%}" alt="User Photo" class="h-8 w-8 rounded-full mr-2">
        <span class="text-gray-700">Prajwal Neupane</span>
      </div>
    </header>

    <!-- Main Content Goes Here -->
    <div class="bg-white p-8 rounded-lg shadow-md">
      <section class="bg-white p-8 rounded-lg">
  
        <!-- Product List -->
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
          <!-- Product Card (Repeat for each product) -->
          <div class="bg-gray-200 p-4 rounded-lg">
            <img src="{%static 'images/bread.webp'%}" alt="Product 1" class="w-full h-32 object-cover mb-4 rounded-lg">
            <h3 class="text-lg font-bold mb-2">Bread to go</h3>
            <p class="text-gray-700 mb-4">Fresh bread - Pickup near Bathurst Station</p>
            <button class="bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-700 focus:outline-none">View Details</button>
          </div>

          <div class="bg-gray-200 p-4 rounded-lg">
            <img src="{%static 'images/bread.webp'%}" alt="Product 1" class="w-full h-32 object-cover mb-4 rounded-lg">
            <h3 class="text-lg font-bold mb-2">Bread to go</h3>
            <p class="text-gray-700 mb-4">Fresh bread - Pickup near Bathurst Station</p>
            <button class="bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-700 focus:outline-none">View Details</button>
          </div>


          <div class="bg-gray-200 p-4 rounded-lg">
            <img src="{%static 'images/bread.webp'%}" alt="Product 1" class="w-full h-32 object-cover mb-4 rounded-lg">
            <h3 class="text-lg font-bold mb-2">Bread to go</h3>
            <p class="text-gray-700 mb-4">Fresh bread - Pickup near Bathurst Station</p>
            <button class="bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-700 focus:outline-none">View Details</button>
          </div>
  
          <!-- Repeat similar structure for other products -->
          <!-- ... -->
        </div>
      </section>
    </div>
  </div>
{% endblock content %}